$missfortune: #f4eeff;
$ahri: #f1c6e7;
$miriam: #fbdff0;
$mirisorn: #be9fe1;
$white: #ffffff;
$sutfont: "sutregular";
$ladyblue1: rgba(25, 18, 65, 1) 0%;
$ladyblue2: rgba(25, 21, 71, 1) 19%;
$ladyblue3: rgba(25, 32, 90, 1) 37%;
$ladyblue4: rgba(25, 50, 120, 1) 58%;
$ladyblue5: rgba(26, 74, 162, 1) 77%;
$ladyblue6: rgba(27, 95, 197, 1) 100%;
$yellowland1: rgba(252, 130, 16, 1) 0%;
$yellowland2: rgba(252, 110, 16, 1) 22%;
$yellowland3: rgba(252, 90, 16, 1) 47%;
$yellowland4: rgba(252, 70, 16, 1) 75%;
$yellowland5: rgba(252, 50, 16, 1) 100%;